*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 70px;
    
}

.navbar {
    width: 100%;
    height: 20px;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    
}
.menus {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;

}
.menus {
    text-decoration: none;
    font-weight: 100;
    font-size: 11px;

}
